* {
  box-sizing: border-box;
}

body {
  background-color: #292C35;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.counter {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-weight: bold;
  border: 2px solid #63DAFC;
  border-radius: 5px;
}

.output {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 45px;
  background-color: #63DAFC;
  margin-bottom: 10px;
  color: #292C35;
  border-radius: 5px;
}

.output.max-value {
  color: #ff0000;
}

.buttons-wrapper {
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  border: 2px solid #63DAFC;
  border-radius: 5px;
}

.counter-btn {
  padding: 0 15px;
  line-height: 35px;
  font-size: 35px;
  font-weight: bold;
  background-color: #63DAFC;
  border: none;
  border-radius: 5px;
  color: #292C35;
}

.counter-btn:disabled {
  background-color: #3F7285;
}

.counter-btn:hover:not(:disabled) {
  cursor: pointer;
  transition: ease .3s;
  transform: scale(1.1);
}

